# Environment variables
.env

# Python caching
__pycache__/
*.pyc

# Data files / Logs
*.csv
real_history_log.csv
virtual_success_log.csv
data/
logs/
*.log

# IDE/System files
.vscode/
.idea/
.DS_Store

# Database dumps / Backups
*.sql
*.sql.gz
*.zip
database/*.sql

# Virtual Environment
venv/

